* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Times New Roman';
}

body {
    height: 100%;
    width: 100%;
}

.main-box {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.input-box {
    height: auto;
    width: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.input-box #new-post {
    height: 10rem;
    width: 100%;
    padding: 0.5rem;
    outline: none;
}

.input-box #add-post-btn {
    height: auto;
    width: auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#posts-list {
    height: auto;
    width: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.post {
    border: 1px solid rgba(128, 128, 128, 0.511);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.post .span {
    height: auto;
    width: 80%;
    padding: 0.5rem;
    white-space: pre-wrap;
}

.post .delete {
    height: auto;
    width: 20%;
    padding: 0.5rem 1rem;
    cursor: pointer;
}